@import 'tailwindcss';

@import 'quill/dist/quill.snow.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.richtext .ql-toolbar.ql-snow {
    border: 1px solid rgb(226 232 240);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.richtext .ql-container.ql-snow {
    border: 1px solid rgb(226 232 240);
    border-top: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.richtext .ql-editor {
    min-height: 140px;
    font-size: 0.875rem;
}

.richtext .ql-editor a {
    color: rgb(79 70 229);
    text-decoration: underline;
}

.richtext-content ul {
    list-style: disc;
    padding-left: 1.25rem;
}

.richtext-content ol {
    list-style: decimal;
    padding-left: 1.25rem;
}

.richtext-content a {
    color: rgb(79 70 229);
    text-decoration: underline;
}

/* Quill custom toolbar button */
.ql-toolbar .ql-attach::before {
    content: 'Attach';
    display: inline-block;
    font-size: 14px;
    line-height: 1;
}
